.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: #ddd;
    border-radius: 6px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .content {
    text-align: center;
  }
  
  .content h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .container::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
    background-color: #aaa;
    left: 50%;
    margin-left: -1px;
  }
  
  .container::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 10px;
    width: 25px;
    background-color: #ddd;
    border-radius: 100% 0 0 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left .container::after {
    left: -12.5px;
  }
  
  .right .container::after {
    left: auto;
    right: -12.5px;
  }